{% extends 'base.html' %}

{% block content %}
    <a href="{{ url_for('users.index') }}" class="btn btn-info mt-3">Voltar</a>
    <a href="{{ url_for('book.user_add_book', id=user.id) }}" class="btn btn-success mt-3">Adicionar Livro</a>

    <table class="table table-hover mt-3">
        <tbody>
            <tr>
                <td scope="row">{{ user.id }}</td>
                <td scope="row">{{ user.name }}</td>
                <td scope="row" colspan="2" class="text-center">{{ user.email }}</td>
                <td scope="row">{{ user.profile.photo }}</td>
                <td scope="row">
                    <a class="text-center btn btn-danger btn-sm"
                        href="{{ url_for ('users.delete', id=user.id) }}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="text-muted">Books:</h2>

    <ul class="list-group list-group-flush">
        {% for book in user.books %}
            <li class="list-group-item">
                {{ book.name }}
            </li>
        {% endfor %}

    </ul>
{% endblock content %}